@import '../../sass/variables.scss';

.wrapper {
  display: flex;
  width: 500px;

  margin: 0 auto;
  padding: 5px;

  border: 1px solid $menu-bar-color;
}

.imageWrapper {
  display: flex;
  justify-content: center;

  width: 30%;
  height: 120px;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.nameWrapper {
  width: 30%;
  height: 120px;

  flex-grow: 1;

  overflow: hidden;
}

.name:hover,
.name:focus {
  outline: none;
  color: $menu-hover-color;
}

.name:active {
  opacity: 0.5;
}

.controlsWrapper {
  width: 20%;
  height: 120px;
}

.amountWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}

.decrease,
.increase {
  @include link-button;
  cursor: pointer;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  margin: 0 auto;

  box-sizing: border-box;

  border: 2px solid $menu-color;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;
}

.delete:hover {
  border-color: $menu-hover-color;
}

.delete:hover .deletePath {
  fill: $menu-hover-color;
}

.delete:active {
  opacity: 0.5;
}

.delete:focus {
  border-color: $menu-hover-color;
  outline: none;
  box-shadow: inset 0 0 1px 1px $menu-hover-color;
}

.deleteContainer {
  width: 20px;
  height: 20px;
}

.deletePath {
  fill: $menu-color;
}

.amount {
  width: 35px;
  text-align: center;
}

@media (max-width: 550px) {
  .wrapper {
    width: 400px;
  }

  .imageWrapper {
    width: 20%;
    height: 80px;
  }

  .nameWrapper {
    height: 80px;
  }

  .controlsWrapper {
    width: 25%;
    height: 80px;
  }

  .amountWrapper {
    height: 40px;
  }

  .delete {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: $Tablet7-max-width) {
  .wrapper {
    position: relative;
    width: 310px;
  }

  .nameWrapper {
    height: 40px;
  }

  .controlsWrapper {
    position: absolute;
    right: 5px;
    bottom: 0;

    display: flex;
    align-items: center;

    width: 76%;
    height: 36px;
  }

  .delete {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 360px) {
  .wrapper {
    width: 280px;
  }

  .nameWrapper {
    height: 35px;
  }
}
