@import '../../sass/variables.scss';

.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  margin: 8px 5px;

  box-sizing: border-box;

  border: 2px solid $menu-color;
  border-radius: 5px;
  background-color: transparent;

  cursor: pointer;
}

.cartButton:hover {
  border-color: $menu-hover-color;
}

.cartButton:hover .cartPath {
  fill: $menu-hover-color;
}

.cartButton:active {
  opacity: 0.5;
}

.cartButton:focus {
  border-color: $menu-hover-color;
  outline: none;
  box-shadow: inset 0 0 1px 1px $menu-hover-color;
}

.cartButton {
  margin-left: auto;
}

.cartContainer {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.cartPath {
  fill: $menu-color;
}
