@import '../../sass/variables.scss';

.beer {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: flex-start;

  width: 900px;
  margin: 0 auto;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 400px;

  flex-shrink: 0;
}

.infoWrapper {
  flex-shrink: 0;
}

.descriptionWrapper {
  width: 900px;
  margin: 0 auto;

  padding: 20px 0;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.name {
  padding-left: 5px;
}

.actions {
  display: flex;

  width: 220px;
}

@media (max-width: $MPC-max-width) {
  .wrapper,
  .descriptionWrapper {
    width: 720px;
  }

  .imageWrapper {
    width: 260px;
    height: 360px;
  }
}

@media (max-width: $Tablet9-max-width) {
  .wrapper,
  .descriptionWrapper {
    width: 560px;
  }

  .imageWrapper {
    width: 200px;
    height: 300px;
  }

  .name {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 640px) {
  .wrapper,
  .descriptionWrapper {
    width: 460px;
  }

  .imageWrapper {
    width: 150px;
    height: 250px;
  }

  .name {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: $Tablet7-max-width) {
  .wrapper,
  .descriptionWrapper {
    width: 320px;
  }

  .imageWrapper {
    width: 50px;
    height: 150px;
  }

  .name {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 360px) {
  .wrapper,
  .descriptionWrapper {
    width: 280px;
  }

  .imageWrapper {
    width: 40px;
    height: 120px;
  }

  .name {
    font-size: 12px;
    line-height: 16px;
  }
}
