@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
legend,
fieldset,
blockquote,
body {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 320px;
  background-color: #f7f3ed;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: black;
}

input,
textarea {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: $MPC-max-width) {
  body {
    font-size: $Tablet9-text-size;
    line-height: $Tablet9-line-height;
  }
}

@media (max-width: $Tablet7-max-width) {
  body {
    font-size: $Tablet7-text-size;
    line-height: $Tablet7-line-height;
  }
}

@media (max-width: $Mobile-max-width) {
  body {
    font-size: $Mobile-text-size;
    line-height: $Mobile-line-height;
  }
}
