$menu-color: black;
$menu-hover-color: #e69e63;
$menu-bar-color: #a9a9a8;
$background: #f7f3ed;

$social-focus-color: #e31e24;
$chip-color: gray;

$error-color: #d66f6f;
$second-text-color: #74abe6;

$PC-container-width: 1160px;
$PC-max-width: 1220px;

$MPC-container-width: 932px;
$MPC-max-width: 992px;

$Tablet9-container-width: 748px;
$Tablet9-max-width: 768px;

$Tablet7-container-width: 460px;
$Tablet7-max-width: 480px;

$Mobile-container-width: 300px;
$Mobile-max-width: 320px;

$Tablet9-text-size: 16px;
$Tablet7-text-size: 14px;
$Mobile-text-size: 12px;

$Tablet9-line-height: 20px;
$Tablet7-line-height: 18px;
$Mobile-line-height: 16px;

@mixin border {
  border: 2px solid $menu-bar-color;
  border-radius: 5px;
}

@mixin border-bottom {
  border: none;
  border-bottom: 2px solid $menu-bar-color;
  border-radius: 5px;
}

@mixin input {
  &:hover {
    border-color: $menu-hover-color;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus {
    border-color: $menu-hover-color;
    outline: none;
    box-shadow: inset 0 0 1px 1px $menu-hover-color;
  }
}

@mixin link-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px 10px;

  box-sizing: border-box;

  border: 2px solid $menu-color;
  border-radius: 5px;
  background-color: transparent;

  font-size: 18px;
  line-height: 18px;
  color: $menu-color;

  text-decoration: none;
  cursor: default;

  &:hover {
    border-color: $menu-hover-color;
    color: $menu-hover-color;
  }
  &:active {
    opacity: 0.5;
  }

  &:focus {
    border-color: $menu-hover-color;
    outline: none;
    box-shadow: inset 0 0 1px 1px $menu-hover-color;
  }

  &:disabled,
  &:disabled:hover {
    border-color: $menu-color;
    color: $menu-color;
    opacity: 0.4;
  }
}

@mixin button {
  &:hover {
    border-color: $menu-hover-color;
    .path {
      fill: $menu-hover-color;
    }
  }
  &:active {
    opacity: 0.5;
  }

  &:focus {
    border-color: $menu-hover-color;
    outline: none;
    box-shadow: inset 0 0 1px 1px $menu-hover-color;
  }
}

@mixin text-button {
  &:active {
    opacity: 0.5;
  }

  &:focus {
    color: $second-text-color;
    outline: none;
    text-shadow: 2px 2px 3px $menu-hover-color;
  }

  &:hover {
    color: $menu-hover-color;
  }
}
