$menu-color: black;
$menu-hover-color: #e69e63;
$menu-bar-color: #a9a9a8;

$PC-container-width: 1160px;
$PC-max-width: 1200px;

$MPC-container-width: 952px;
$MPC-max-width: 992px;

$Tablet9-container-width: 748px;
$Tablet9-max-width: 768px;

$Tablet7-container-width: 460px;
$Tablet7-max-width: 480px;

$Mobile-container-width: 300px;
$Mobile-max-width: 320px;
