@import '../../sass/variables.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.item {
  margin-bottom: 25px;
}

.itemEmpty {
  width: 100%;
}

.empty {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: $menu-hover-color;
}

@media (max-width: $MPC-container-width) {
  .list {
    width: 572px;
    margin: 0 auto;
  }
}

@media (max-width: $MPC-container-width) {
  .list {
    width: 572px;
    margin: 0 auto;
  }
}

@media (max-width: 610px) {
  .list {
    width: 266px;
    margin: 0 auto;
  }
}
