@import '../../../sass/variables.scss';

.favoriteButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  margin: 8px 5px;

  box-sizing: border-box;

  border: 2px solid $menu-color;
  border-radius: 5px;
  background-color: transparent;
}

.favoriteButton:hover {
  border-color: $menu-hover-color;
}

.favoriteButton:hover .favoritePath {
  fill: $menu-hover-color;
}

.favoriteButton:active {
  opacity: 0.5;
}

.favoriteButton:focus {
  border-color: $menu-hover-color;
  outline: none;
  box-shadow: inset 0 0 1px 1px $menu-hover-color;
}

.favoriteContainer {
  width: 20px;
  height: 20px;
}

.favoritePath {
  fill: $menu-color;
}
