.appear {
}
.appearActive {
}
.appearDone {
}
.enter {
  transform: translate(-100%, 60px);
}
.enterActive {
  transform: translate(0, 60px);
  transition: all 300ms;
}
.enterDone {
}
.exit {
  transform: translate(0, 60px);
}
.exitActive {
  transform: translate(-100%, 60px);
  transition: all 300ms;
}
.exitDone {
}
