@import '../../sass/variables.scss';

.main,
.itemPage {
  width: 100%;
}

.main {
  flex-grow: 1;
}

.container {
  width: $PC-container-width;

  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
}

.message {
  text-align: center;
  padding-bottom: 20px;
}

.number {
  font-size: 140px;
  line-height: 160px;
}

.text {
  font-size: 40px;
  line-height: 50px;
}

@media (max-width: $PC-max-width) {
  .container {
    width: $MPC-container-width;
  }
}

@media (max-width: $MPC-max-width) {
  .main {
    padding-top: 60px;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
  }
}

@media (max-width: $Tablet9-max-width) {
  .container {
    padding-top: 40px;
  }
}

@media (max-width: $Tablet7-max-width) {
  .number {
    font-size: 100px;
    line-height: 120px;
  }

  .text {
    font-size: 30px;
    line-height: 40px;
  }
}
